fastapi
uvicorn
sqlalchemy
python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.0.1
httptools
websockets
python-dotenv
python-multipart
psycopg2-binary
pydantic[email]
streamlit
pandas
plotly
numpy
streamlit-autorefresh
requests
